<h1>this is the secret page</h1>

<p>You found me</p>

<img src="https://pbs.twimg.com/profile_images/463447421901877248/ohknBU_C.jpeg">


<li><a href="/register">Sign up!</a></li>
<li><a href="/login">Log in!</a></li>
<li><a href="/logout">Logout!</a></li>